@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "righteous", static;
}

/* ---HEADER--- */
header {
  position: fixed;
  background-color: #68D2E8;
  border: 1px solid #03AED2;
  width: 100%;
  z-index: 1;
  height: 45px;
}
header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0px;
  padding: 5px;
  /* libreria https://uiverse.io/barisdogansutcu/fuzzy-bullfrog-72 */
}
header ul a {
  margin: 5px;
}
header ul a img {
  width: 1em;
}
header ul a img:hover {
  transform: scale(1.2, 1.2);
}
header ul .boton-menu {
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #FEEFAD;
  color: #03AED2;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
header ul .boton-menu:hover {
  letter-spacing: 3px;
  background-color: #03AED2;
  color: #FEEFAD;
  box-shadow: #03AED2 0px 7px 29px 0px;
}
header ul .boton-menu:active {
  letter-spacing: 3px;
  background-color: #03AED2;
  color: #FEEFAD;
  box-shadow: #03AED2 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* ---FOOTER--- */
footer {
  display: flex;
  background-color: #68D2E8;
  color: #FEEFAD;
  height: 100px;
  border: 1px solid #03AED2;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 20px;
  height: 20px;
  margin: 1.5px;
}
footer img .logo-strider {
  height: 35px;
  width: 30px;
}
footer p {
  font-size: 800;
  margin: 20px 10px;
}

main {
  display: inline-block;
  padding: 40px 0px;
  width: 100%;
  background-color: #FEEFAD;
}
main .contenido-inicio {
  display: grid;
  grid-template-columns: 22.5% repeat(3, 15%) 22.5%;
  grid-template-rows: 80px 240px repeat(2, 320px);
  grid-template-areas: ". titulo titulo titulo ." "running natacion natacion natacion ciclismo" "running gimnasia gimnasia gimnasia-barra ciclismo" "running futbol futbol gimnasia-barra ciclismo";
  gap: 20px;
  justify-content: center;
  align-items: center;
}
main .contenido-inicio h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "righteous", static;
  font-weight: 800;
  color: #03AED2;
  grid-area: titulo;
}
main .contenido-inicio img {
  width: 100%;
  height: 100%;
}
main .img-natacion {
  grid-area: natacion;
}
main .img-running {
  grid-area: running;
}
main .img-ciclismo {
  grid-area: ciclismo;
}
main .img-gimnasia {
  grid-area: gimnasia;
}
main .img-futbol {
  grid-area: futbol;
}
main .img-gimnasia-barra {
  grid-area: gimnasia-barra;
}
main h2 {
  text-transform: uppercase;
  font-family: "righteous", static;
  font-weight: 800;
  color: #03AED2;
  margin: 35px 300px;
}
main .carrusel {
  width: 35%;
}
main .carrusel .texto-carrusel {
  color: #FDDE55;
  text-shadow: 1px 1px 4px #000000;
}

/* --Sección Quienes Somos-- */
.quienes-somos img {
  height: 550px;
  width: 800px;
  margin-left: 300px;
}
.quienes-somos p {
  font-family: "sansation", static;
  color: #03AED2;
  margin: 10px 300px;
}

/* --Productos en venta-- */
.color-tarjeta {
  background-color: #FDDE55;
  border-bottom: 2px solid #03AED2;
  color: #03AED2;
}

/* --Formulario-- */
.formulario {
  background-image: url(../media/fondo-form.jpg);
  background-size: cover;
  height: 700px;
  padding: 40px 200px;
  border-top: 2px solid #03AED2;
  border-bottom: 2px solid #03AED2;
}
.formulario form {
  color: #FDDE55;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-shadow: 1px 1px 4px #000000;
}
.formulario form input, .formulario form textarea {
  border: 0.5px solid #000000;
}
.formulario form textarea {
  resize: none;
  height: 150px;
}
.formulario form button {
  background-color: #03AED2;
  color: #FDDE55;
  border: 1px solid #000000;
  margin-top: 10px;
}
.formulario img {
  width: 100px;
  position: absolute;
  right: 15px;
}

/* --RESPONSIVE MOBILE-- */
@media (max-width: 500px) {
  /* ---HEADER--- */
  header {
    width: 100%;
    height: 35px;
  }
  header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 1px;
  }
  header ul a {
    margin: 1px;
  }
  header ul a img {
    width: 0.9em;
  }
  header ul a img:hover {
    transform: none;
  }
  header ul .boton-menu {
    padding: 2px 8px;
    cursor: none;
    letter-spacing: 1px;
    border: 0;
    text-decoration: none;
    font-size: 10px;
  }
  header ul .boton-menu:hover {
    letter-spacing: 1px;
  }
  header ul .boton-menu:active {
    letter-spacing: 1px;
  }
  /* ---MAIN--- */
  main {
    min-height: 100vh;
  }
  main .contenido-inicio {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 30px 120px repeat(4, 120px);
    grid-template-areas: "titulo titulo" "natacion natacion" "running ciclismo" "running ciclismo" "gimnasia gimnasia-barra" "futbol gimnasia-barra";
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  main .contenido-inicio h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "righteous", static;
    font-weight: 800;
    color: #03AED2;
    font-size: 1.1em;
    margin-top: 10px;
    grid-area: titulo;
  }
  main .contenido-inicio img {
    width: 100%;
    height: 100%;
  }
  main .img-natacion {
    grid-area: natacion;
  }
  main .img-running {
    grid-area: running;
  }
  main .img-ciclismo {
    grid-area: ciclismo;
  }
  main .img-gimnasia {
    grid-area: gimnasia;
  }
  main .img-futbol {
    grid-area: futbol;
  }
  main .img-gimnasia-barra {
    grid-area: gimnasia-barra;
  }
  main h2 {
    text-transform: uppercase;
    font-family: "righteous", static;
    font-weight: 800;
    color: #03AED2;
    margin: 10px;
    font-size: 0.7em;
  }
  main .carrusel {
    width: 70%;
  }
  /* --Sección Quienes Somos-- */
  .quienes-somos img {
    height: 250px;
    width: 400px;
    display: block;
    margin: auto;
  }
  .quienes-somos p {
    color: #03AED2;
    margin: 10px 10px;
  }
  /* --Contactanos-- */
  .formulario {
    height: 490px;
    padding: 10px;
  }
  .formulario form {
    max-width: 300px;
    font-size: 12px;
  }
  .formulario img {
    width: 25px;
    position: absolute;
    right: 10px;
  }
  /* ---FOOTER--- */
  footer {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: 15px 15px;
    grid-template-areas: "telefono1 telefono1 logo redes1 redes1" "telefono2 telefono2 logo redes2 redes2";
    gap: 5px;
    height: 100%;
    padding: 2%;
    justify-content: center;
    align-items: center;
  }
  footer .telefono-1 {
    grid-area: telefono1;
  }
  footer .telefono-2 {
    grid-area: telefono2;
  }
  footer .logo-strider {
    grid-area: logo;
  }
  footer .redes-1 {
    grid-area: redes1;
  }
  footer .redes-2 {
    grid-area: redes2;
  }
}

/*# sourceMappingURL=estilos.css.map */
