/* ---FONT--- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: righteous;
}

/* ---HEADER--- */

/* --Menu de navegacion-- */

header {
    position: fixed;
    background-color:#68D2E8;
    border: 1px solid #03AED2;
    width: 100%;
    z-index: 1;
    height: 40px;
}

header ul { 
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 5px;
}

header a {
    margin: 5px;
}

/* --Logo para menu de navegacion-- */

nav img {
    width: 1em;
}

/* --Botones del menu-- */

.boton-menu {
    text-decoration: none;
    color: #03AED2;
    background-color: #FEEFAD;
    padding: 2px;
    border: 1px solid #03AED2;
}

/* ---MAIN--- */

main {
    display: inline-block;
    padding: 40px 0px;
    width: 100%;
    background-color: #FEEFAD;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    color: #03AED2;
}

h2 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    color: #03AED2;
    margin: 35px 300px;
}

/* --Inicio-- */

/* --Contenido de la pagina principal-- */

.contenido-inicio {
    display: grid;
    grid-template-columns: 22.5% repeat(3, 15%) 22.5%;
    grid-template-rows: 80px 240px repeat(2, 320px);
    grid-template-areas: 
    ". titulo titulo titulo ."
    "running natacion natacion natacion ciclismo"
    "running gimnasia gimnasia gimnasia-barra ciclismo"
    "running futbol futbol gimnasia-barra ciclismo";
    gap: 20px;
    justify-content: center;
    align-items: center
}

.contenido-inicio img {
    width: 100%;
    height: 100%;
}

.contenido-inicio h1 {
    grid-area: titulo;
}

.img-natacion {
    grid-area: natacion;
}

.img-running {
    grid-area: running;
}

.img-ciclismo {
    grid-area: ciclismo;
}

.img-gimnasia {
    grid-area: gimnasia;
}

.img-futbol {
    grid-area: futbol;
}

.img-gimnasia-barra {
    grid-area: gimnasia-barra;
}

/* --Carrusel-- */

.carrusel {
    width: 35%;
}

.posicion-carrusel {
    justify-content: center;
}

.texto-carrusel {
    color: #FDDE55;
    text-shadow: 1px 1px 4px #000000;
}

/* --Imagen de seccion quienes somos-- */

.quienes-somos img {
    height: 500px;
    width: 700px;
    margin-left: 300px;
}

/* --Texto de seccion quienes somos-- */

.quienes-somos p {
    color: #03AED2;
    margin: 10px 300px;
}

/* --Productos en venta-- */

.color-tarjeta {
    background-color: #FDDE55;
    border-bottom: 2px solid #03AED2;
    color: #03AED2;
}

/* --Formulario-- */

form {
    color: #03AED2;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.formulario {
    background-image: url(../media/fondo-form.jpg);
    background-size: cover;
    height: 600px;
    margin: 50px 0px;
    padding: 40px 200px;
    border-top: 2px solid #03AED2;
    border-bottom: 2px solid #03AED2;
}

button {
    background-color: #03AED2;
    color: #FEEFAD;
    border: 1px solid #000000;
    margin-top: 10px;
}

.formulario img {
    width: 100px;
    position: absolute;
    right: 15px;
}

/* ---FOOTER--- */

footer {
    display: flex;
    background-color: #68D2E8;
    color: #FEEFAD;
    height: 100px;
    border: 1px solid #03AED2;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

footer a img {
    width: 20px;
    height: 20px;
    margin: 1.5px;
}

.logo-strider {
    height: 35px;
    width: 30px;
}

footer p {
    margin: 20px 10px;
}

/* --RESPONSIVE MOBILE-- */

@media (max-width: 500px){
    
    /* ---HEADER--- */

/* --Menu de navegacion-- */

header {
    background-color:#68D2E8;
    border: 1px solid #03AED2;
    width: 100%;
    z-index: 1;
}

header ul { 
    list-style-type: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 5px;
}

header a {
    margin: 5px;
}

/* --Logo para menu de navegacion-- */

nav img {
    width: 1em;
}

/* --Botones del menu-- */

.boton-menu {
    text-decoration: none;
    color: #03AED2;
    background-color: #FEEFAD;
    padding: 2px;
    border: 1px solid #03AED2;
}

/* ---MAIN--- */

main {
    min-height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    color: #03AED2;
    font-size: 1.1em;
    margin-top: 10px;
}

h2 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    color: #03AED2;
    margin: 10px;
    font-size: 0.7em;
}

/* --Inicio-- */

/* --Contenido de la pagina principal-- */

.contenido-inicio {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 30px 120px repeat(4, 120px);
    grid-template-areas: 
    "titulo titulo"
    "natacion natacion"
    "running ciclismo"
    "running ciclismo"
    "gimnasia gimnasia-barra"
    "futbol gimnasia-barra";
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contenido-inicio img {
    width: 100%;
    height: 100%;
}

.contenido-inicio h1 {
    grid-area: titulo;
}

.img-natacion {
    grid-area: natacion;
}

.img-running {
    grid-area: running;
}

.img-ciclismo {
    grid-area: ciclismo;
}

.img-gimnasia {
    grid-area: gimnasia;
}

.img-futbol {
    grid-area: futbol;
}

.img-gimnasia-barra {
    grid-area: gimnasia-barra;
}

.carrusel {
    width: 70%;
}

/* --Imagen de seccion quienes somos-- */

.quienes-somos img {
    height: 500px;
    width: 700px;
    margin-left: 300px;
}

/* --Texto de seccion quienes somos-- */

.quienes-somos p {
    color: #03AED2;
    margin: 10px 300px;
}

/* --Productos en venta-- */

.articulos {
    color: #03AED2;
    display: grid;
    grid-template-columns: repeat(3, 17%);
    grid-template-rows: 50px repeat(2, 300px);
    grid-template-areas: 
    "subtitulo . ."
    "articulo1 articulo2 articulo3"
    "articulo4 articulo5 articulo6";
    row-gap: 50px;
    column-gap: 20px;
    justify-content: center;
}

.articulos img {
    width: 100%;
    height: 100%;
}

.articulos p {
    margin: 5px;
}

.articulos h2 {
    margin: 50px 0px;
}

/* ---FOOTER--- */

footer {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: 15px 15px;
    grid-template-areas:
    "telefono1 telefono1 logo redes1 redes1"
    "telefono2 telefono2 logo redes2 redes2";
    background-color: #68D2E8;
    color: #FEEFAD;
    gap: 5px;
    height: 100%;
    padding: 2%;
    border: 1px solid #03AED2;
    justify-content: center;
    align-items: center;
}

.telefono-1 {
    grid-area: telefono1;
}

.telefono-2 {
    grid-area: telefono2;
}

.logo-strider {
    grid-area: logo;
}

.redes-1 {
    grid-area: redes1;
}

.redes-2 {
    grid-area: redes2;
}
}