@use "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$fuente-principal;
}

/* ---HEADER--- */

header {
    position: fixed;
    background-color: variables.$color-celeste;
    border: 1px solid variables.$color-azul;
    width: 100%;
    z-index: 1;
    height: 40px;
    ul { 
        list-style-type: none;
        display: flex;
        @include variables.centrar;
        height: 100%;
        margin: 0px;
        padding: 5px;
        a {
            margin: 5px;
            img {
                width: 1em;
            }
        }
        .boton-menu {
            text-decoration: none;
            color: variables.$color-azul;
            background-color: variables.$color-amarillo;
            padding: 2px;
            border: 1px solid variables.$color-azul;
        }
}
}
/* ---FOOTER--- */

footer {
    display: flex;
    background-color: variables.$color-celeste;
    color: variables.$color-amarillo;
    height: 100px;
    border: 1px solid variables.$color-azul;
    font-size: 15px;
    @include variables.centrar;
    img {
        width: 20px;
        height: 20px;
        margin: 1.5px;
        .logo-strider {
            height: 35px;
            width: 30px;
        }
    }
    p {
        font-size: 800;
        margin: 20px 10px;
    }
}