@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$color-azul: #03AED2;
$color-celeste: #68D2E8;
$color-amarillo: #FEEFAD;
$color-amarillo-fuerte: #FDDE55;
$color-negro: #000000;
$fuente-principal: 'righteous', static;
$fuente-secundaria: 'sansation', static;

@mixin centrar{
    justify-content: center;
    align-items: center;
}

@mixin titulos-fuente{
    text-transform: uppercase;
    font-family: $fuente-principal;
    font-weight: 800;
    color: $color-azul;
}