@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

$color-azul: #03AED2;
$color-celeste: #68D2E8;
$color-amarillo: #FEEFAD;
$fuente-principal: 'righteous';
$fuente-secundaria: 'sans-serif';